<div class="header">
  <div class="login-logout">
    <% if logged_in? %>
      <p><%= link_to "Log out", logout_path, method: "delete", class: "header-link" %></p>
    <% else %>
      <p><%= link_to "Log in", login_path, method: "get", class: "header-link" %></p>
    <% end %>
  </div>
  <h2 class="header-container">
    <%= link_to "Header", root_path, class: "header-link" %>
  </h2>
</div>
